<header class="top-page-header">
  <div class='search-bar-contents'>
    <%= link_to 'MoALog', "#", class:'moalog-icon'%>    
    <form class="search-form">
      <input type="text" placeholder="検索" class="input-box">
      <div class="search-btn">
        <i class="fas fa-search"></i>
      </div>
    </form>
    <div class="nav">
    <% if user_signed_in? %>  
      <ul class='lists-right'>
         <li><%= link_to current_user.name, "#", class: "header-user-name" %> </li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "log-out" %></li>
        <li><%= link_to '新規投稿', '#', class: "new-post" %></li>
      </ul>
    <% else %>
      <ul class='lists-right'>
        <li><%= link_to 'サインアップ', new_user_registration_path, class: "sign-up" %></li>
        <li><%= link_to 'ログイン', new_user_session_path, class: "log-in" %></li>
      </ul>
    <% end %>
    </div>
  </div>
</header>