<%= form_with model: @post, local: true do |f| %>
  <div class="field">
    <%= f.label :image, "写真" %><br />
    <%= f.file_field :image %>
  </div>
  
  <div class="field">
    <%= f.label :impressive_work, "所在地" %><br />
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"class: :form__text"}) %>
  </div>
  
  <div class="field">
    <%= f.label :rating, "評価" %><br />
    <%= f.text_field :rating %>
  </div>

  <div class="field">
    <%= f.label :museum_name, "施設名" %><br />
    <%= f.text_field :museum_name %>
  </div>

  <div class="field">
    <%= f.label :exhibition_title, "展示 / イベント名" %><br />
    <%= f.text_area :exhibition_title, class: :form__text %>
  </div>

   <div class="field">
    <%= f.label :text, "感想" %><br />
    <%= f.text_area :text, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :impressive_artist, "印象に残った作家名" %><br />
    <%= f.text_area :impressive_artist, class: :form__text %>
  </div>

   <div class="field">
    <%= f.label :impressive_work, "印象に残った作品名" %><br />
    <%= f.text_area :impressive_work, class: :form__text %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>