<li class='post-list'>
  <%= link_to post_path(post.id) do %>
    <div class='post-img-content'>
      <%= image_tag post.image, class: "post-img" %>
    </div>
    
    <div class='post-info'>
      <div class='post-info-head'>
        <div class='museum-name'>
          <%= post.museum_name %>
        </div>
      </div>
      <%# 星の表示 %>
        <%= render 'posts/star', post: post %>
      </div>
      <%# //星の表示 %>
      <div class='user-name'>
        by <%= link_to post.user.name, user_path(post.user.id) %>
      </div>
      <%# お気に入り %>
      <tr id="post_<%= post.id %>">
        <%= render 'favorite', post: post %>
      </tr>
      <%# //お気に入り %>
    <% end %>
    </div>
  
</li>