<%= render "shared/header" %>
<div class="main">
  <div class="title-contents">
    <p class='service-explain'>
      MoALogで
    </p>
    <p class='service-explain'>
      行きたい美術館を
    </p>
    <p class='service-explain'>
      見つけよう
    </p>
  </div>

  <%# 地域から探すの欄 %>
  <div class="select-area-contents">
    <h2 class="select-area-title">
      地域から投稿を探す
    </h2>
    <div class='areas'>
      <div class="upper-areas">
        <div class='area'>
          <%= link_to '北海道・東北', search_hokkaido_tohoku_posts_path, class:'area-text'%>
        </div>
        <%= link_to search_kanto_posts_path do %>
          <div class='kanto_area'>
            <p class="area-text">関東</p>>
          </div>
        <% end %>
        <div class='area'>
           <%= link_to '中部',  search_chubu_posts_path, class:'area-text'%>
        </div>
      </div>
      <div class='lower-areas'>
        <div class='area'>
           <%= link_to '近畿', search_kinki_posts_path, class:'area-text'%>
        </div>
        <div class='area'>
           <%= link_to '中国・四国', search_chugoku_shikoku_posts_path, class:'area-text'%>
        </div>
        <div class='area'>
           <%= link_to '九州・沖縄', search_kyusyu_okinawa_posts_path, class:'area-text'%>
        </div>
      </div>
     </div> 
  </div>
  <%# //地域から探すの欄 %>

  <%# 投稿一覧 %>
  <div class="new-post-contents">
    <h2 class="new-posts-title">新着投稿一覧</h2>
    <ul class='post-lists'>
      <% @posts.each do |post| %>
        <%= render 'posts/post', post: post %>
      <% end %>
    </ul>
  </div>
  <%# 投稿一覧 %>
</div>
<%= render "shared/footer" %>