<%= render "shared/header" %>
<div class="main">
  <div class="title-contents">
    <p class='service-explain'>
      MoALogで
    </p>
    <p class='service-explain'>
      行きたい美術館を
    </p>
    <p class='service-explain'>
      見つけよう
    </p>
  </div>

  <%# 地域から探すの欄 %>
  <div class="select-area-contents">
    <h2 class="select-area-title">
      地域から投稿を探す
    </h2>
    <div class='areas'>
      <div class="upper-areas">
        <%= link_to search_hokkaido_tohoku_posts_path do %>
          <div class='hokkaido_tohoku_area'>
            <p class="area-text">北海道・東北</p>
          </div>
        <% end %>
        <%= link_to search_kanto_posts_path do %>
          <div class='kanto_area'>
            <p class="area-text">関東</p>
          </div>
        <% end %>
        <%= link_to search_chubu_posts_path do %>
          <div class='chubu_area'>
            <p class="area-text">中部</p>
          </div>
        <% end %>
      </div>
      <div class='lower-areas'>
        <%= link_to search_kinki_posts_path do %>
          <div class='kinki_area'>
            <p class="area-text">近畿</p>
          </div>
        <% end %>
         <%= link_to search_chugoku_shikoku_posts_path do %>
          <div class='chugoku_shikoku_area'>
            <p class="area-text">中国・四国</p>
          </div>
        <% end %>
          <%= link_to search_kyusyu_okinawa_posts_path do %>
          <div class='kyusyu_okinawa_area'>
            <p class="area-text">九州・沖縄</p>
          </div>
        <% end %>
      </div>
     </div> 
  </div>
  <%# //地域から探すの欄 %>

  <%# 投稿一覧 %>
  <div class="new-post-contents">
    <h2 class="new-posts-title">
    新着投稿一覧
    </h2>
    <ul class='post-lists'>
      <% @posts.each do |post| %>
        <li class='list'>
          <%= link_to post_path(post.id) do %>
          <div class='post-img-content'>
            <%= image_tag post.image, class: "post-img" %>
          </div>
          <div class='list-right'>
            <div class='post-info'>
              <h3 class='museum-name'>
                <%= post.museum_name %>
              </h3>
              <h4 class='prefecture'>
                <%= "（#{post.prefecture.name})" %>
              </h4>
              <%# 星の表示 %>
              <div class="star-area">
                <div id="star-rate-<%= post.id %>"></div>
                  <script>
                  $('#star-rate-<%= post.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: <%= post.rating %>,
                  });
                  </script>  
              <%# //星の表示 %>
                <div class='user-name'>
                  by <%= link_to post.user.name, user_path(post.user.id) %>
                </div>
              </div>
              <%# お気に入り表示 %>
              <div class='favorite'>
                <% if user_signed_in? %>
                  <% if current_user.favorited_by?(post.id) %>
                    <td>
                      <%= link_to destroy_favorite_path(post), class: "favorite-link", method: :delete do %>
                        <i class="fa fa-heart unlike-btn"></i>
                      <% end %>
                      <%= post.favorites.count %></td>
                  <% else %>
                    <td>
                      <%= link_to create_favorite_path(post), class: "favorite-link", method: :post do %>
                        <i class="fa fa-heart like-btn"></i>
                      <% end %>
                      <%= post.favorites.count %>
                    </td>
                  <% end %>
                <% else %>
                <i class="fa fa-heart unlike-btn"></i>
                <%= post.favorites.count %>
                <% end %>
              </div>
              <%# //お気に入り表示 %>     
            </div>
          </div>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# 投稿一覧 %>
</div>
<%= render "shared/footer" %>