<%= render "shared/header" %>
<div class="main">
  <div class="title-contents">
    <p class='service-explain'>
      MoALogで
    </p>
    <p class='service-explain'>
      行きたい美術館を
    </p>
    <p class='service-explain'>
      見つけよう
    </p>
  </div>

  <%# 地域から探すの欄 %>
  <div class="select-area-contents">
    <h2 class="select-area-title">
      地域から投稿を探す
    </h2>
    <div class='areas'>
      <div class="upper-areas">
        <%= link_to search_hokkaido_tohoku_posts_path do %>
          <div class='hokkaido_tohoku_area'>
            <p class="area-text">北海道・東北</p>
          </div>
        <% end %>
        <%= link_to search_kanto_posts_path do %>
          <div class='kanto_area'>
            <p class="area-text">関東</p>
          </div>
        <% end %>
        <%= link_to search_chubu_posts_path do %>
          <div class='chubu_area'>
            <p class="area-text">中部</p>
          </div>
        <% end %>
      </div>
      <div class='lower-areas'>
        <%= link_to search_kinki_posts_path do %>
          <div class='kinki_area'>
            <p class="area-text">近畿</p>
          </div>
        <% end %>
         <%= link_to search_chugoku_shikoku_posts_path do %>
          <div class='chugoku_shikoku_area'>
            <p class="area-text">中国・四国</p>
          </div>
        <% end %>
          <%= link_to search_kyusyu_okinawa_posts_path do %>
          <div class='kyusyu_okinawa_area'>
            <p class="area-text">九州・沖縄</p>
          </div>
        <% end %>
      </div>
     </div> 
  </div>
  <%# //地域から探すの欄 %>

  <%# 投稿一覧 %>
  <div class="new-post-contents">
    <h2 class="new-posts-title">新着投稿一覧</h2>
    <ul class='post-lists'>
      <% @posts.each do |post| %>
        <%= render 'posts/post', post: post %>
      <% end %>
    </ul>
  </div>
  <%# 投稿一覧 %>
</div>
<%= render "shared/footer" %>