<%= render "shared/header" %>
<div class="main">
  <div class="title-contents">
    <p class='service-explain'>
      MoALogで
    </p>
    <p class='service-explain'>
      行きたい美術館を
    </p>
    <p class='service-explain'>
      見つけよう
    </p>
  </div>

  <%# 地域から探すの欄 %>
  <div class="select-area-contents">
    <h2 class="select-area-title">
      地域から探す
    </h2>
    <div class='areas'>
      <div class="upper-areas">
        <div class='area'>
          <%= link_to '北海道・東北', "#", class:'area-text'%>
        </div>
        <div class='area'>
           <%= link_to '関東', "#", class:'area-text'%>
        </div>
        <div class='area'>
           <%= link_to '中部', "#", class:'area-text'%>
        </div>
      </div>
      <div class='lower-areas'>
        <div class='area'>
           <%= link_to '近畿', "#", class:'area-text'%>
        </div>
        <div class='area'>
           <%= link_to '中国・四国', "#", class:'area-text'%>
        </div>
        <div class='area'>
           <%= link_to '九州・沖縄', "#", class:'area-text'%>
        </div>
      </div>
     </div> 
  </div>
  <%# //地域から探すの欄 %>

  <%# 投稿一覧 %>
  <div class="new-post-contents">
    <h2 class="new-posts-title">新着投稿一覧</h2>
    <ul class='post-lists'>
      <% @posts.each do |post| %>
        <li class='post-list'>
          <%= link_to post_path(post.id) do %>
          <div class='post-img-content'>
            <%= image_tag post.image, class: "post-img" %>
          </div>
          <% if current_user.liked_by?(post.id) %>
          <td>いいねを外す</td>
        <% else %>
          <td>いいね</td>
        <% end %>
          <div class='post-info'>
            <div class='post-info-head'>
              <div class='museum-name'>
                <%= post.museum_name %>
              </div>
            </div>
            <%# 星の表示 %>
            <%= render partial: "star", locals: { post: post } %>
            <%# //星の表示 %>
            <div class='user-name'>
              by <%= post.user.name %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# 投稿一覧 %>
</div>
<%= render "shared/footer" %>