<%= render "shared/header" %>
 <div class="new-post-contents">
    <h2 class="new-posts-title">"<%= params[:keyword] %>"の検索結果 <%= @posts.count %>件</h2>
    <ul class='post-lists'>
      <% @posts.each do |post| %>
        <%= render 'posts/post', post: post %>
      <% end %>
    </ul>
  </div>
  <%# 投稿一覧 %>
<%= render "shared/footer" %>