<%= render "shared/header" %>

<main class="main">
  <div class="inner">
    <div class="post__wrapper">
      <p class="post_heading">
        <%= @post.museum_name %>
      </p>
      <div class="post-second-heading">
        <%# 星の表示 %>
        <%= render partial: "star", locals: { post: @post } %>
        <%# //星の表示 %>
        <div class="post-user-name">
          <%= link_to "by #{ @post.user.name }", user_path(@post.user.id) %>
        </div>
      </div>
       
      <div class="post__image">
        <% @post.images.each do |image| %>
          <%= image_tag image, class: 'images' %>
        <% end %>
        <%# <%= image_tag @post.image, class:"post-box-img" %> 
      </div>
       <% if user_signed_in? && current_user.id == @post.user_id %>
          <div class="post__manage">
            <div class="delete-post-btn">
              <%= link_to post_path(@post.id), method: :delete, class: "delete-btn", title: '削除', data: {confirm: "削除しますか？"} do %>
                <i class="fa fa-trash fa-2x fa-fw "></i>
              <% end %>
            </div>
            <div class="edit-post-btn">
              <%= link_to edit_post_path(@post.id), method: :get, class: "edit-btn", title: '投稿の編集' do %>
                <i class="fa fa-pencil-square fa-2x fa-fw "></i> 
              <% end %>
            </div>
          </div>
        <% else %>
          <div class='detail-favorite'>
            <table>
              <tbody>
                <tr id="post_<%= @post.id %>">
                  <%= render 'posts/favorite', post: @post %>
                </tr>
              </tbody>
            </table>
          </div>
        <% end %>
       <div class="post-explain-box">
        <table class="detail-table">
          <tbody>
            <tr>
              <th class="detail-post">所在地</th>
              <td class="detail-value"><%= @post.prefecture.name %></td>
            </tr>
            <% if @post.exhibition_title.present? %>
              <tr>
                <th class="detail-post">展覧会名</th>
                <td class="detail-value"><%= @post.exhibition_title %></td>
              </tr>
            <% end%>
            <% if @post.text.present? %>
              <tr>
                <th class="detail-post">感想</th>
                <td class="detail-value"><%= @post.text %></td>
              </tr>
            <% end %>
            <% if @post.impressive_artist.present? %>
              <tr>
                <th class="detail-post">印象的だった<br>アーティスト</th>
                <td class="detail-value"><%= @post.impressive_artist %></td>
              </tr>
            <% end %>
            <% if @post.impressive_work.present? %>
              <tr>
                <th class="detail-post">印象的だった<br>作品名</th>
                <td class="detail-value"><%= @post.impressive_work %></td>
              </tr>
            <% end %>
            <% if @post.text.present? %>
              <tr>
                <th class="detail-post">投稿日</th>
                <td class="detail-value"><%= @post.created_at.strftime("%Y年%m月%d日") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="comment-box">
          <%= form_with(model: [@post, @comment], local: true) do |form| %>
            <%= form.text_area :text, placeholder: "コメントする",  class: "comment-text" %>
            
            <% if user_signed_in? %>
              <div class="comment-submit">
                <%= form.submit "コメントする", class:"comment-btn" %>
              </div>
            <% else %>
              <strong><p>※<br>コメントの投稿には新規登録/ログインが必要です<br>※</p></strong>
            <% end %>
            <div class="comments">
              <h4>＜コメント一覧＞</h4>
              <% @comments.each do |comment| %>
                <p class="comment-contents">
                  <strong><%= comment.user.name %></strong><br>
                  <%= comment.text %>
                </p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
<%= render "shared/footer" %>